@model ICollection<Erp.Domain.Models.PortalItemSpec>

@if (Model != null && Model.Any())
{
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Specifications:</h6>
        <ul class="list-group list-group-flush">
            @foreach (var spec in Model.OrderBy(s => s.Order))
            {
                <li class="list-group-item">
                    @if (!string.IsNullOrWhiteSpace(spec.JsonData))
                    {
                        @spec.JsonData
                    }
                    @if (!string.IsNullOrWhiteSpace(spec.Remarks))
                    {
                        <small class="text-muted d-block">@spec.Remarks</small>
                    }
                </li>
            }
        </ul>
    </div>
}
