<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>assalvatierra@gmail.com</AccountUsername>
    <AzureServiceName>ProcessReservation</AzureServiceName>
    <AzureServiceResourceGroup>app-service</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/7abf5274-b783-4869-ac01-c09df3d2864b/resourceGroups/app-service/providers/Microsoft.Web/sites/ProcessReservation</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>7abf5274-b783-4869-ac01-c09df3d2864b</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Pay-As-You-Go</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/7abf5274-b783-4869-ac01-c09df3d2864b/resourceGroups/app-service/providers/Microsoft.Web/sites/ProcessReservation (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <FunctionsInProcDotNetCoreVersion>6.0.x</FunctionsInProcDotNetCoreVersion>
    <FunctionsInProcDotNetSupportDisposition>Deprecated</FunctionsInProcDotNetSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>functionAppGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureFunctionAppLinux.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>true</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>Azure/ProcessPendingReservations</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>5af3d8e8-68a9-44a9-803f-41eb21abad0f</TenantId>
    <WebsiteBasicAuthPublish>false</WebsiteBasicAuthPublish>
  </PropertyGroup>
</Project>